.container-2
{
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    background-color: transparent;
    justify-content: space-between;
}
.about-heading
{
    padding-top: 15%;
    margin-left: 5%;
    justify-content: space-between;
    text-transform: uppercase;
    color:#ecf0f1;
    font-size: 5vw;
}
.about-me
{
    
    margin-left: 5%;
    position: relative;
    width:45vw;
    float:left;
    justify-content: space-between;
    color:#ecf0f1;
    text-align: justify;
    font-size: 20px;
}
p
{
    margin-bottom: 15px;
}
.about-photo
{
    position: relative;
    z-index: 10;
    float:right;
}
