.container-4
{
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    background-color: transparent;
    justify-content: space-between;
}
.contact-heading
{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 3%;
    margin-left: 3%;
    justify-content: space-between;
    text-transform: uppercase;
    color:#ecf0f1;
    font-size: 4vw;
}
.info
{
   display: flex;
   justify-content: center;
   gap: 5rem;
  
}
.contactinfo1
{
    background-color: #10ac84;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
}
.contactinfo2
{
    background-color: #10ac84;
    border-radius: 10px;
    padding: 2% 6% 2% 6%;
}
.contact-subheading
{
    font-size:21px;
    padding-bottom: 5%;
}